@use "@/styles/_variables" as *;
@use "@/styles/_mixins" as *;

.pageContainer {
  @include container;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.statusBadge {
  padding: 0.5rem 1rem;
  border: 1px solid #00e5ff;
  color: #00e5ff;
  border-radius: 8px;
  font-family: var(--font-space-mono);
  font-size: 0.85rem;
}

.calibrationTag {
  color: #e6b553;
  font-family: var(--font-space-mono);
  font-size: 0.85rem;
}
