@use "@/styles/_variables" as *;
@use "@/styles/_mixins" as *;

.buttonGroup {
  display: flex;
  gap: $spacing-lg;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; // Allows wrapping on small mobile screens
}
