@use "@/styles/_variables" as *;
@use "@/styles/_mixins" as *;
@use "@/styles/_typography" as *;

.section {
  @include section-spacing;
  width: 100%;
  position: relative;
  background-color: $color-background;
}

.container {
  @include container;
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-3xl;
  align-items: center;

  // Stacks vertically on tablets and mobile
  @media (max-width: 64rem) {
    grid-template-columns: 1fr;
    gap: $spacing-2xl;
  }
}



.rightColumn {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 64rem) {
    justify-content: center;
  }
}
